.popup__img-container {
    position: relative;
    display: grid;
    width: max-content;
    padding: 0;
    margin: 90px auto 0 auto;
}

@media screen and (max-width: 550px) {
    .popup__img-container {
        margin-top: 25vh;
    }
}