.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 880px;
    margin: 36.25px auto;
}

@media screen and (max-width: 1279px) {
    .profile {
        width: 69%;
    }
}

@media screen and (max-width: 350px) {
    .profile {
        margin-top: 38.25px;
        width: 88%;
    }
}