.profile__edit {
    width: 24px;
    height: 24px;
    margin: 15px auto 0 18px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/Vector3.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        margin-top: 30px;
        margin-left: 10px;
    }
}