.popup__photo-input {
    margin: 54px 0 0 0;
    padding: 0;
    width: 430px;
    height: 90px;
    display: flex;
    flex-direction: column;
    border: none;
}

@media screen and (max-width: 767px) {
    .popup__photo-input {
        margin: 45px auto 0 auto;
        width: 238px;
    }
}