.popup__dell-container {
    display: grid;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    width: 430px;
    height: 181px;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .popup__dell-container {
        width: 282px;
    }
}